{% extends '_base_article.html' %}

{% block title %}Банкет как двигатель революци{% endblock %}
{% block article_title %}Банкет как двигатель революци{% endblock %}

{% block text %}
<div style="font-size: 125%;">
    <p>Банкеты, имеющие политический характер, всегда были в большом ходу в Англии. Во Франции они стали играть
    важную роль со времени революции и назывались гражданскими банкетами. Так, 14 июля 1790 г. в Париже под
    открытым небом состоялся многолюдный банкет, затем 26 июля 1792 г. подобное же пиршество произошло на
    развалинах Бастилии. Примеру столицы последовали и провинциальные города. В годы Второй республики
    банкеты были запрещены правительством, но во времена Реставрации они возобновились. В конце Июльской
    монархии они явились в руках оппозиции сильным орудием, способствовавшим низвержению Луи-Филиппа. В
    последнее время его царствования оппозиция, не имея возможности влиять на правительство через палату,
    в которой значительное большинство было на стороне министерства, должна была изыскать новый орган для
        выражения своих политических взглядов, главным образом заключавшихся в требовании избирательной реформы.</p>
    <p>Таким органом явились банкеты, мысль об организации которых была подана депутатом Одилоном Барро. Они
    получили в истории название реформистских банкетов. Первый из таких банкетов состоялся 9 июня 1847 г.
    близ Парижа. В нем участвовали до 1000 человек, принадлежавших к умеренной династической и крайней
    радикальной партиям, соединившимся вместе для проведения реформы. Банкет этот не вызвал никаких
    опасений со стороны правительства. Затем состоялся банкет в Маконе, на котором особенно чествовали
    Ламартина за его «Историю жирондистов». Речь его, в которой он предвещал упадок монархии, привела к
    запрещению со стороны министерства всем чиновникам принимать участие в подобных банкетах. Мера эта не
    повлияла на устройство банкетов, которые с каждый днем получали все большее значение. Уже следующие
    банкеты в Лимо и Дижоне благодаря отсутствию умеренной партии, разошедшейся во взглядах с радикалами,
    отличались своим революционным характером. Затем много подобных банкетов состоялось и в остальных
    провинциальных городах Франции, а последний из них имел место в Руане, где снова умеренная партия
    получила перевес. Наконец, когда в начале 1848 г. министерство Гизо удержалось от роспуска, оппозиция,
    желая испытать силу правительства, решилась устроить в Париже многолюдный банкет на Елисейских Полях,
    назначив его на 22 февраля. Он был решительно воспрещен министром внутренних дел, ввиду чего
    представители оппозиции, избегая крайностей, решили его отменить. Но объявление об отмене оказалось
    несвоевременным, так как с раннего утра огромная толпа народа, достигшая 50 тысяч человек, собралась
    на площади де ля Мадлен, чтобы оттуда направиться на Елисейские Поля. Банкет, понятно, не состоялся,
        но последствием его явилась февральская революция, низвержение Луи-Филиппа и установление Второй республики.</p>
    <p>С тех пор общественные банкеты стали весьма популярны во Франции и до сих пор повторяются, особенно в дни
        национальных праздников.</p>
</div>
{% endblock %}
