{% extends '_base_article.html' %}

{% block title %}Русские застольные табу{% endblock %}
{% block article_title %}Русские застольные табу{% endblock %}

{% block text %}
<div style="font-size: 125%;">
    <h2 class="m-3">Русские застольные табу</h2>
    <p>В русской народной традиции множеством правил и запретов регламентируется обращение с едой и
        столовыми приборами.</p>
    <p>В старину русские осеняли крестом все, что они намеревались съесть или выпить, и сами крестились,
        при этом полагая, что только так можно защититься от всяких чар и колдовства.
        Застольные табу предписывают обращаться с ножом осторожно и не бросать его как попало, чтобы
        кто-нибудь не порезался.</p>
    <p>Согласно русскому поверью, нельзя есть с ножа, иначе будешь сердитым, а девушке это непозволительно
        делать еще и потому, что муж ее будет таким колючим и злым человеком.</p>
    <h4 class="m-3">Если нож лежит на столе лезвием кверху, то это к ссоре или к чему-нибудь дурному.</h4>
    <h4 class="m-3">Играть ножом — тоже к ссоре.</h4>
    <h4 class="m-3">Нельзя оставлять на ночь нож на столе, иначе «лукавый» зарежет.</h4>
    <h4 class="m-3">Передавать нож следует, взяв его за лезвие и рукоятью вперед к спрашивающему.</h4>
    <p>В старину многие правила народного застольного этикета объясняли близким присутствием нечистой
        силы.
        Нельзя стучать ложками — от этого «лукавый» радуется и скликаются на обед «злыдни». Нельзя
        оставлять
        ложку так, чтобы она опиралась ручкой на стол, а другим концом на миску: по ложке, как по мосту,
        в
        миску может проникнуть нечистая сила.</p>
    <p>Перед едой ложку обычно кладут выемкой кверху, как бы приглашая к столу. Если же хозяйка в
        старину
        по ошибке клала ложку выемкой книзу, то это могло быть истолковано как проявление ее жадности и
        нежелания
        накормить гостя. После еды ложку переворачивали, показывая этим, что сыты.</p>
    <p>В старину всегда строго следили за тем, чтобы на столе не оказалась лишняя ложка, которой, как
        считалось, могли воспользоваться дьявольские силы.</p>
    <p>После ужина миски с ложками и другую посуду ни в коем случае не разрешалось оставлять на столе,
        иначе черт может явиться или домовой станет вылизывать грязную посуду.</p>
    <p>Православие в принципе не отвергает спиртного и даже, более того, предлагает человеку хлеб и вино
        в
        качестве причастия (евхаристии). Однако в зависимости от количества выпитого менялось и
        отношение к питью.
        Считалось, что на пиру «первую чашу пьешь в жажду, вторую — в сладость, третью — во здравие,
        четвертую —
        в веселье, пятую — в пьянство, шестую — в бесовство, а последнюю — в горькую смерть».</p>
    <p>В русском народе существует стойкое убеждение, что нормальный человек может употреблять вино, а
        всякий непьющий в той или иной степени вызывает неприязнь и подозрение. Здравое отношение к
        хмелю
        нашло свое отражение в пословицах: «Пьян да умен, два угодья в нем», «Пей, да дело разумей».
        Если вы
        находитесь за русским столом и не хотите принимать спиртного, то оправданием может быть…
        склонность
        к запоям — это основание для полного отказа от питья.</p>
    <p>Передавая солонку другому человеку, требуется рассмеяться, чтобы с ним не поссориться. В
        крестьянском
        быту в старину не разрешалось обмакивать хлеб (и другие продукты) в солонку, чтобы крошки не
        засоряли
        соль. Соль была таким же священным продуктом, как и хлеб.</p>
    <p>У русских крестьян стол издревле считался святым местом. Поведение за столом регламентировалось
        множеством правил и поверий. На него никогда не клали посторонние вещи; до сих пор иногда
        говорят,
        что если положить на стол подушку или одеяло, то в доме кто-нибудь умрет. Встать на стол
        считалось
        вопиющим кощунством, а допустить на него кошку, курицу или маленького ребенка — крайне
        предосудительным.
        За стол не следовало садиться в головных уборах и верхней одежде. Полагали, что если парень
        сядет за
        стол в шапке, то теща у него будет глухая; если будешь держать на столе варежки, то никогда не
        выберешься
        из долгов; нельзя ставить на стол ребенка, иначе он будет капризным. На Русском Севере не
        разрешалось стучать
        по столу, ибо стол — это ладонь Бога или Богоматери, протянутая людям.</p>
    <p>В обыденной жизни огибать стол не разрешалось: человек должен был выйти из-за стола на ту же
        сторону, с
        которой садился за него. В одних областях считалось, что у того, кто, выбираясь из-за стола,
        обойдет
        его кругом, умрет кто-нибудь из ближайших родственников. В других говорили, что у этого человека
        «народится целое застолье ребятишек».</p>
    <p>По народным поверьям, от обращения с хлебом зависели сила, здоровье и удача человека. Считалось,
        например, что если один человек доест хлеб за другим или съест его за спиной другого человека,
        то он
        заберет его счастье и силу. Если во время еды дашь со стола хлеб собаке, то тебя ожидает
        бедность.
        Нельзя оставлять недоеденный кусок хлеба, иначе похудеешь — «он тебя есть будет» или станет
        гоняться
        за тобой на том свете. Если во время еды крошки валятся изо рта, то это предвещает скорую
        смерть.
        Когда падала на пол хлебная крошка, крестьянин поднимал ее, целовал и съедал либо бросал в
        огонь.
        Весьма плохая примета класть буханку (краюху) хлеба выпуклой стороной вниз.</p>
    <p>Обычай приветствовать гостя хлебом и солью известен в России с давних времен. Сочетание хлеба и
        соли
        играло роль исключительно емкого символа: хлеб выражал пожелание богатства и благополучия, а
        соль
        считалась оберегом, способным защитить человека от враждебных сил и влияний. Угощение гостя
        хлебом-солью устанавливало между ним и хозяином отношения приязни и доверия; отказ же от них
        расценивался как оскорбление. Недаром говорится: «От хлеба-соли и царь не отказывается».
        Человек,
        которому подносят хлеб-соль, должен отломить кусочек, посолить рукой из солонки (а не макать в
        соль)
        и съесть, принять поднос с хлебом-солью и передать сопровождающим.</p>
    <h4 class="m-3">При выпивании спиртного считается дурной приметой, забыв о том, что уже чокнулся,
        чокаться
        бокалами дважды (следует повторить сдвижение бокалов и в третий раз, чтобы отвести беду).</h4>
    <h4 class="m-3">Плохая примета — поднимать бокал и чокаться левой рукой (если вы не левша).</h4>
    <h4 class="m-3">Еще хуже, после того как чокнулись, поставить бокал, не пригубив его.</h4>
    <p>Плохая примета — оставлять опустевшую бутылку на столе; в семейном застолье ее ставят
        под стол, в
        ресторане бутылку не выливают до конца (оставив несколько капель на дне) и при
        приближении официанта
        указывают ему на то, что бутылку можно забрать. Если водка подается перелитой в
        графин, то на него
        это правило не распространяется.</p>

    <h2 class="m-3">Застолье в крестьянской семье</h2>
    <p>Вся наша культура, мораль и нравственность уходят своими корнями в крестьянский быт.
        Именно
        в крестьянской семье сформировались основные традиционные правила поведения за
        столом. Они
        отражали хозяйственный уклад и семейные отношения. Трудовой распорядок прежде всего
        нашел
        отражение в режиме питания, никто никогда не мог отменить или перенести
        установленное веками
        время приема пищи — завтрак, обед и ужин.</p>
    <p>К сожалению эту традицию теперь в русских семьях стали забывать, вошло в привычку
        питание
        наспех и в различные часы. Стал забываться и годичный распорядок, традиционные
        праздничные
        блюда, сезонный пищевой календарь.</p>
    <p>Правила поведения за столом в крестьянской семье отражали, прежде всего,
        благоговейное
        отношение к пище и символу жизни — хлебу. Грубым нарушением правил считалась еда
        «походя»,
        где попало, за неубранным столом.</p>
    <p>К сожалению, в наше время, когда в каждом доме есть скатерти и салфетки, столовая
        посуда и
        приборы, часть семьи часто завтракает или обедает на краю стола, заваленного книгами
        и
        другими предметами, не имеющими отношения к еде. Надо накрывать стол и сервировать
        его в любом случае.
        Хлеб не резали заранее, чтобы он не высыхал, а по мере надобности хозяин или старший
        в семье
        от буханки отрезал нужное число ломтей. При этом он соблюдал особенный ритуал:
        резали хлеб не
        на столе, а держа в руках, и обязательно делали разрез к себе. Уронить кусок хлеба
        считалось
        величайшей бестактностью, а если такая оплошность случалась, то виновный поднимал
        кусок, обтирал
        его, целовал и съедал. Оставить крошки хлеба считалось грехом: их сметали в ладонь и
        съедали, и
        вовсе не от жадности, а в знак глубокого уважения к этому продукту, олицетворяющему
        нелегкий труд
        землепашца.</p>
    <p>Конечно, некоторые обычаи устарели, но уважительное отношение к хлебу следует
        воспитывать с детства.
        Нарезанный хлеб на столе должен закрываться чистой салфеткой, чтобы он не черствел.
        Можно использовать
        и небольшие настольные хлебницы. Оставшийся зачерствевший хлеб надо использовать:
        либо освежить его в
        духовке, сделать гренки (поджаривая с маслом), либо употреблять для кулинарных
        изделий, делать
        пудинги, шарлотки и т. д. Это не мелочь, а традиция, имеющая большое воспитательное
        значение.</p>
    <p>В крестьянских, а затем и рабочих семьях, у каждого за столом было свое постоянное
        место. Во главе
        стола сидел старший в семье («большак» «старшой» «большуха» и т. д.), а остальные
        члены семьи рассаживались
        по возрасту и по семейному рангу. Это лишний раз подчеркивало авторитет главы семьи.
        Традиция эта потеряла
        старый патриархальный смысл, но не утратила своего воспитательного значения: и
        теперь каждый член семьи
        должен иметь за столом свое постоянное место.</p>
    <p>Уважительное отношение к пище нашло выражение в поговорке: «Когда я ем, я глух и
        нем». Дословно это
        изречение никогда не понималось. Просто в нем говорится о порядке за столом, о
        недопустимости во время
        еды горячих споров, выяснения отношений, чтения газет и книг. В некоторых семьях еще
        хранятся старинные
        традиции, во время трапезы выключают радио или телевизор. Ничего плохого в этом
        нет.</p>
</div>
{% endblock %}
