{% extends '_base_article.html' %}

{% block title %}Как обращаться с приборами{% endblock %}
{% block article_title %}Как обращаться с приборами{% endblock %}

{% block text %}
<div style="font-size: 125%;">
    <h2 class="m-3">Вилки</h2>
    <h4 class="m-3">- столовой вилкой едят вторые горячие блюда, у нее четыре зубчика, а по длине она немногим уступает
        диаметру тарелки и кладется слева;</h4>
    <h4 class="m-3">- вилка для рыбы применяется для горячих блюд из рыбы, выглядит меньше закусочной и обладает
        четырьмя короткими зубчиками,</h4>
    <h4 class="m-3">- рыбную вилку легко узнать по углублениям — они нужны для отделения косточек;</h4>
    <h4 class="m-3">- закусочная вилка — уменьшенный дубликат столовой вилки, едят ею холодные закуски;</h4>
    <h4 class="m-3">- десертная вилка — для пирогов, небольшая, соответствует размеру десертной тарелочки и выглядит
        нетипично;</h4>
    <h4 class="m-3">- фруктовая вилка оборудована двумя зубцами, обычно подается вместе с фруктовым ножом;</h4>
    <h4 class="m-3">- остальные вилки считаются вспомогательными, их кладут рядом с тем блюдом, которое ими нужно
        есть.</h4>
    <h4 class="m-3">Ножи</h4>
    <h4 class="m-3">- столовым ножом едят любые вторые горячие блюда, его кладут справа от тарелки, лезвие развернуто к
        тарелке;</h4>
    <h4 class="m-3">- рыбный нож тупой и напоминает лопатку, используется для того, чтоб отделить мякоть рыбы от
        костей;</h4>
    <h4 class="m-3">- закусочный нож небольшой и имеет зубчики;</h4>
    <h4 class="m-3">- десертный и фруктовый нож выглядят похоже — они самые маленькие.</h4>
    <h2 class="m-3">Ложки</h2>
    <h4 class="m-3">- столовая ложка — самая крупная, лежит справа от тарелки;</h4>
    <h4 class="m-3">- десертная ложка подается к десерту, который не требует разрезания — мягкие пудинги, желе и взбитые
        сливки;</h4>
    <h4 class="m-3">- ложку для мороженого подают вместе с креманкой;</h4>
    <h4 class="m-3">- коктейльная ложечка имеет очень узкую и длинную ручку;</h4>
    <h4 class="m-3">- чайная ложка может быть подана к любому горячему напитку;</h4>
    <h4 class="m-3">- кофейная ложечка — самая маленькая, подают только с черным кофе.</h4>


</div>
{% endblock %}
