{% extends '_base_article.html' %}

{% block title %}Принципы и правила современного этикета{% endblock %}
{% block article_title %}Принципы и правила современного этикета{% endblock %}

{% block text %}
<div style="font-size: 125%;">
    <p>Как бы ни менялись современные условия жизни, как бы ни были различны национальные традиции, общие
        правила поведения в обществе, и в частности, за столом базируются на вечном принципе — уважение к
        окружающим.</p>
    <h3 class="m-3">Общие принципы этикета за столом можно сформулировать следующим образом:</h3>
    <h4 class="m-3">• — уважение к сотрапезникам и преимущественное уважение к старшим;</h4>
    <h4 class="m-3">• — бережное отношение к эстетическим чувствам сидящих за столом;</h4>
    <h4 class="m-3">• — непринужденность поведения в пределах дозволенного.</h4>
    <h3 class="m-3">Уважение к сотрапезникам должно проявляться во всем.</h3>
    <p>Если женщина или старший подходит к столу, надо отодвинуть стул, чтобы подошедшему было легче
        занять место. Нельзя сидеть, закинув ногу на ногу, раскачиваясь на стуле, закидывать руку на
        спинку соседнего стула — во-первых, такая раскованность граничит с вульгарностью; во-вторых,
        это мешает другим. Нельзя ставить локти на стол, чтобы не стеснять соседей. Опереть руки на стол
        можно только таким образом, чтобы на скатерти лежали кисти рук.</p>
    <p>На сидящего за столом мужчину ложится забота о женщине, сидящей справа. Конечно, если у дамы
        слева не окажется соседа, то заботы и о ней должен принять на себя тот же сотрапезник. Заботы
        эти должны быть ненавязчивы. Они выражаются в предложении помочь взять с общего блюда закуску,
        придвинуть или налить в бокал напиток, отодвинуть стул и т. д.</p>
    <h4 class="m-3">Помните, что вино можно предложить только один раз и, если последует отказ, то возвращаться к этому
        разговору не следует.</h4>
    <h4 class="m-3">Некорректно выяснять причину отказа от того или иного блюда.</h4>
    <h4 class="m-3">Брать еду с общего блюда надо при помощи предназначенных для этого приборов общего пользования
        (ложки, вилки, лопаточки, щипчики) и не забывать вернуть их на место.</h4>
    <h4 class="m-3">Беря с общего блюда кусок, нельзя перебирать остальные, а следует заранее выбрать понравившийся и
        сразу взять его.</h4>
    <h4 class="m-3">Беря салат, винегрет или другую закуску, надо стараться, насколько это возможно,
        не испортить общий вид красиво оформленного блюда.</h4>
    <h4 class="m-3">Сев за стол, не надо сразу снимать салфетку с
        тарелки. </h4>
    Ее берут только тогда, когда на стол подадут блюдо или приступают к еде. Взяв салфетку, ее
    следует свернуть вдвое (пополам или по диагонали) так, чтобы нижняя сторона на 2 — 3 см выступала
    над верхней, и постелить ее на колени. Способ сворачивания салфетки обусловлен тем, что при этом
    удобно о верхний край ее вытирать пальцы после еды, и запачканный край не будет прикасаться к костюму.

    <h4 class="m-3"> Перед тем как запить еду из фужера или бокала, можно проложить салфетку к губам, чтобы на краях
        фужера не осталось следов жира. </h4>
    <p>Если женщина пользуется помадой, то край бокала, стакана и т. п. надо приложить
    к губам так, чтобы на краях посуды не осталось следов помады. Кстати, пользоваться косметикой или
        причесываться за столом недопустимо. Нельзя салфеткой вытирать пот с лица.</p>
    <p>Когда-то салфетку заправляли за воротник, особенно в те далекие времена, когда в моде были пышные жабо,
    и есть, не запачкав их, было трудно. Теперь в этом нужды нет. По окончании еды салфетку не надо вновь
    сворачивать, а следует, слегка скомкав, положить на тарелку. Бумажные салфетки также слегка сминают и
        кладут на тарелку.</p>

    <h4 class="m-3">Использованные хотя бы один раз столовые приборы не следует класть на скатерть, а надо опереть на край
        тарелки.</h4>
    <h4 class="m-3">Недопустимо стучать ножом или вилкой о край тарелки, чтобы привлечь внимание, прося слово.</h4>
    <h4 class="m-3">Точно так же нельзя жестикулировать, держа в руках нож или вилку (особенно с едой на них), это грозит
        неприятностями для соседей.</h4>
    <h4 class="m-3">Мешая ложкой чай или кофе, нельзя стучать о посуду, делать это надо бесшумно.</h4>
    <p>Пить чай или кофе, оставив в стакане или чашке ложечку не, не следует. Ложкой размешивают сахар, пробуют напитки, а потом кладут ее
    на блюдце. Не так давно считалось допустимым пить чай из блюдца. Теперь это не принято. Если чай или
    кофе пьют за столом, то чашку или стакан берут в руки, оставляя блюдце на столе. Если же кофе, а иногда
    и чай пьют, сидя в кресле или на диване в гостиной, то блюдце держат в одной руке, другой снимают с него
        чашку, затем ставя ее обратно.</p>
    <h4 class="m-3">С общего блюда берут руками (а не вилкой) булочки, хлеб, тосты, печенье, пирожки, расстегаи, целые
    (не нарезанные) фрукты. При этом их нельзя перебирать, а если уже к ним прикоснулись, то брать не
        возвращая обратно.</h4>
    <p>Сложнее обстоит дело с кусковым сахаром. Его положено брать специальными щипчиками, а если их нет,
    то пальцами. Дело в том, что взять кусочек сахара ложечкой очень трудно, обычно при этом он падает
        на стол. Но если хотите, то можете попробовать.</p>
    <h4 class="m-3">Нарезанный сыр, колбасу надо брать вилкой, но для этого их кладут так, чтобы можно было наколоть
        за один прием только один кусочек.</h4>
    <h4 class="m-3">Кусочки хлеба кладут на свою тарелку (хлебная или пирожковая — ставится слева) и по мере надобности
        отламывают кусочки и, если надо, намазывают их маслом, паштетом, икрой, рубленой сельдью.</h4>
    <p>Можно и сразу намазать весь кусок, то есть сделать себе бутерброд. В этом случае его, так же как и сделанные
    хозяевами бутерброды, едят при помощи ножа и вилки, отрезая кусочки по мере надобности. В мелкие
    закусочные бутерброды (канапе) перед подачей вкалывают небольшие фигурные шпажки из пластмассы или
        лучинки, за которые их берут, чтобы не пачкать пальцы. Жареные пирожки берут вилкой.</p>
    <h4 class="m-3">Пирожки, расстегаи и ватрушки едят не нарезая, держа их рукой, а пироги — при помощи вилки и ножа.</h4>
    <p>Правда пироги можно брать и руками (особенно закрытые), если они заранее нарезаны небольшими кусками.
    Бытует мнение, что дичь и птицу надо брать руками. Это не так: блюда из птицы едят при помощи ножа и
    вилки, но не запрещается брать их руками за косточку (особенно, если она снабжена папильоткой). Соль и
    горчицу берут специальными ложечками общего пользования, которые кладут в солонку или горчичницу. Хрен,
        соусы (аджику, кетчуп, майонез и др.) ставят на стол в соусниках с ложечкой.</p>
    <p>Важно научиться правильно, изящно, без напряжения держать в руках предметы сервировки. Мясо,
    сосиски и т. п. не следует сразу нарезать. Держа нож все время в правой руке, а вилку в левой,
    отрезают постепенно по кусочку. Если же нарезать блюдо сразу, то оно остынет гораздо быстрее.
    Существует правило: нож не используют, если можно обойтись без него. Так, не режут изделия из рубленого
        мяса и рыбы, омлеты, драчены, паштеты и т. п.</p>
    <h4 class="m-3">Яйца всмятку подают в специальных подставках — пашотницах.</h4>
    <p>Чтобы посолить яйцо, надо взять немного соли
    из солонки при помощи общей лопаточки, положить соль на блюдце или подставку пашотницы и солить яйцо по
        мере надобности, а не брать каждый раз соль своей ложечкой из общей солонки.</p>
    <h4 class="m-3">Если хозяйка или услужливый сосед предлагает вам пирог, салат и т. п., держа блюдо в руках, то надо взять
        себе порцию осторожно, так чтобы не затруднять человека, держащего блюдо.</h4>
    <p>Особого такта требует использование алкогольных напитков. Прежде всего, употреблять их может тот, кто уверен,
    что не будет неприятных последствий. Допивать рюмку или бокал совсем не обязательно. Утверждение, что
    нельзя оставлять недопитым бокал («оставлять зло») неверно. Предлагая даме налить вина, надо держать
    бутылку так, чтобы она видела этикетку и знала, чем ее угощают. Наливая шампанское или другое вино,
        бутылку наклоняют, держа этикеткой кверху, чтобы случайный подтек не испортил ее.</p>
    <h4 class="m-3">Принимая тост или произнося его, не обязательно выпивать весь бокал — достаточно лишь немного отпить.</h4>
    <h4 class="m-3">Уговаривать кого-либо из компании выпить — верх бестактности, и принимать приглашение в дом, где это
        правило не соблюдается, в следующий раз не следует.</h4>
    <p>В обычае чокаться рюмками плохого нет, но при этом не следует тянуться с рюмкой через весь стол или,
        вставая, подходить к тому, в честь кого провозглашена здравица.</p>
    <h4 class="m-3">Курить за столом не следует, даже с согласия присутствующих.</h4>
    <h4 class="m-3">Если гостю надо уйти раньше (о чем он должен предупредить хозяев), он должен покинуть застолье по
        возможности не отвлекая остальных от еды и беседы.</h4>

</div>
{% endblock %}
