{% extends '_base_article.html' %}

{% block title %}Виды приемов и их обслуживание{% endblock %}
{% block article_title %}Виды приемов и их обслуживание{% endblock %}

{% block text %}
<div style="font-size: 125%;">
    <p>Вид приема избирается в зависимости от повода, а также традиций и обычаев, сложившихся в местной
        деловой практике. В международной традиции наиболее широкое распространение получили такие виды
        приемов, как завтрак, обед, ужин, фуршет, коктейль, чай, журфикс (бранч), прием по-буфетному и
        прием «бокал шампанского». Рассмотрим, чем отличается один вид банкета от другого и как каждый
        из них организуется.</p>
    <h2 class="m-3">Завтрак</h2>
    <p>Этот прием устраивают для ограниченного числа лиц (как правило, для одних мужчин). Время проведения — в
        промежутке от 12 до 15 часов. На завтрак принято подавать 1–2 холодные закуски, одно горячее рыбное
        блюдо, одно мясное блюдо и десерт (сладости, фрукты, конфеты, мороженое и др.). К холодным закускам
        можно предложить водку или охлажденные настойки, к рыбному блюду — охлажденное сухое белое вино (а на
        Востоке — гранатовый сок), к мясному блюду — сухое красное вино комнатной температуры, к десерту —
        охлажденное шампанское. После завтрака подают кофе или чай. Столы для этого сервируют заново.
        Продолжительность завтрака — от часа до полутора часов (из них обычно 45–60 минут проводят за едой и
        15–30 минут — за кофе или чаем). Инициатива завершения завтрака (обеда и ужина) должна исходить от
        хозяина приема. Одежда для завтрака — как правило, повседневный костюм.</p>
    <h2 class="m-3">Обед и ужин</h2>
    <p>Обед устраивают по поводу важных событий или в знак особого расположения к приглашенным. Начало
        проведения обеда — 7 часов вечера, его продолжительность — 2–2,5 часа, из которых за столом обычно
        проводят 1,5 часа. Как и во время завтрака, перед приглашением к столу и по окончании еды гости вместе
        с хозяевами могут провести 15–20 минут в другом помещении, где перед обедом подают легкие закуски,
        а после обеда — кофе или чай.</p>
    <p>Меню обеда более обильно в сравнении с меню завтрака и обязательно включает первое блюдо. Ассортимент
        и последовательность подачи напитков — как и во время завтрака. На обед принято приглашать мужчин с
        женами. Форма одежды указывается в приглашении.
        Ужин начинается в 9 часов вечера и позднее. Меню ужина и вина — такие же, как и на обеде. Первое
        блюдо на ужин, как правило, не подают.</p>
    <h2 class="m-3">Банкет за столом с полным обслуживанием.</h2>
    <p>Именно говорится «нам устроили грандиозный банкет». Такой организованный прием проводят по поводу
        официальных визитов должностных лиц, иностранных представителей и делегаций во время проведения
        международных встреч и симпозиумов, конференций, выставок и т. д.
        Такой банкет представляет собой торжественное мероприятие, где участники сидят за красиво сервированным
        столом, а подачу блюд и напитков производят официанты. На стол при этом не ставят никаких закусок, блюд и
        напитков — все подается персоналом и им же убирается.</p>
    <p>Начинают с расстановки столов, как правило, в виде буквы «П» или «Т». Затем правильно расстилают белоснежные
        и хорошо отглаженные полотняные скатерти.</p>
    <p>Красиво оформленные бланки меню банкета размещают за пирожковой тарелкой. В меню содержится перечень всех
        закусок, блюд, напитков, а также сообщается повод проводимого мероприятия. Для иностранных гостей должен
        быть перевод названных блюд и напитков на их родной язык. И сами меню стоит напечатать на хорошей бумаге,
        чтобы гостям было приятно забрать их с собой на память о торжестве.</p>
    <p>Если банкет следует за официальными мероприятиями, то одежда обсуждению не подлежит. Любое официальное
        мероприятие требует костюма и галстука для мужчин и строгой одежды для женщин (идеален костюм). Если вы
        получили персональное приглашение, то необходимость вечернего туалета, скорее всего, будет указана, что
        упрощает дело.</p>
    <p>Если стол обслуживают официанты, то вопрос с распределением пищи решен — каждому гостю подадут определенную
        порцию. Отказываясь от блюда, предлагаемого официантом на банкете, негромко скажите: «Нет, спасибо» — или
        просто покачайте головой — такая форма отказа сейчас распространена шире.</p>
    <p>Курение на банкетах не одобряют, так что пепельницы на столы не ставят, а если и приносят, то лишь к
        моменту подачи кофе.</p>
    <h2 class="m-3">Банкет за столом с частичным обслуживанием</h2>
    <p>Этот вид банкета наиболее распространен при проведении товарищеских встреч, семейных торжеств, юбилеев и
        свадеб. На этих мероприятиях официанты не опекают присутствующих, а лишь время от времени подходят, чтобы
        переменить блюда.</p>
    <p>Размещение гостей, как правило, произвольное, но почетных гостей стоит усадить в центре стола.
        Банкетный стол сервируют строго по меню столовыми тарелками, приборами, стеклом и хрусталем, салфетками.
        За 30–40 минут до прихода гостей на стол ставят холодные блюда и закуски, напитки и вазы с фруктами,
        приборы со специями, оформляют стол цветами.</p>
    <p>Банкет за столом с частичным обслуживанием продолжается 1,5–2 часа (кроме новогоднего банкета, который
        длится, как правило, до рассвета, и свадьбы, которая следует до своего логического завершения).
        Как правило, если банкет проводится в обеденное время, то в меню добавляют первое блюдо — суп.
        Обычно на каждые 3,0–3,5 м длины стола (что соответствует 4–5 сидящим за ним с каждой стороны) расставляют
        все холодные блюда, закуски и напитки, указанные в меню.</p>
    <p>Блюда и закуски в посуде на ножках или с высокими бортами (вазы, салатницы) расставляют ближе к центру, а
        блюда с низкими бортами (блюда, лотки) ставят ближе к предметам сервировки, при этом чередуя закуски из
        рыбы, мяса и птицы.</p>
    <p>Посуду с блюдами и закусками расставляют в один или два ряда в зависимости от ширины стола, количества
        закусок и размера посуды.
    <h4 class="m-3">Сливочное масло обычно ставят рядом с икрой (если таковая имеет место).</h4>
    <h4 class="m-3">Соусы надо ставить рядом с блюдами, которым они сопутствуют.</h4>
    <h4 class="m-3">Вазы с фруктами и цветами устанавливают по оси стола, а расстояние между ними (по центру) используют
        для
        расстановки напитков.</h4>
    <p>Бутылки с напитками ставят этикеткой к сидящим за столом гостям. Некоторые из бутылок (особенно закупоренные
        пробками) могут быть откупорены заранее, закрытые же кронпробками (то есть лимонадными) откупоривают за 5
        минут до приглашения гостей к столу (чтобы газированные напитки не выдыхались).</p>
    <p>После напитков раскладывают хлеб на пирожковые тарелки каждого гостя (обычно кладут пшеничный и ржаной).
        После тщательной проверки, все ли в порядке, гостей приглашают к столу.</p>
    <h2 class="m-3">Банкет-фуршет</h2>
    <p>Название этого вида банкета происходит от французского выражения «а-ля фуршет» (al la fourchette), что
        буквально означает «на вилку» и тем самым вполне отражает основной характер этого мероприятия, поскольку
        основным «рабочим инструментом» во время еды является закусочная вилка.
        Фуршет — на редкость популярный в настоящее время вид приема. Его организуют обычно в случаях, когда за
        сравнительно ограниченное время (1,5–2 часа) необходимо принять большое количество гостей (от 15–20 человек
        до нескольких сотен). В такой форме часто устраивают официальные приемы (в частности, дипломатические),
        юбилеи, иногда семейные торжества и, как уже было сказано, артистические и иные презентации.
        Фуршет часто проводится под открытым небом. Если же его проводят в зале, то столы устанавливают в виде
        прямоугольника либо букв «П», «Т» или «Ш». Идеальный вариант оформления фуршета — длинный и большой стол.
        У стен или по углам зала располагают дополнительно небольшие круглые или квадратные столы, накрытые
        скатертями, на которые ставят сигареты, пепельницы, спички, цветы в высоких вазах и бумажные салфетки.
        Фуршетные столы накрывают банкетными скатертями так, чтобы концы их со всех сторон каждого стола свисали
        одинаково, на расстоянии 5—10 см от пола. Углы каждой скатерти подвертывают с торцовых сторон внутрь, скрепляют
        с боковыми сторонами, образуя прямой угол.</p>
    <p>Различают два варианта сервировки фуршетного стола: одностороннюю и двустороннюю. Первый вариант используют
        для почетных гостей и устроителя банкета. Стол устанавливают перпендикулярно к основному столу на расстоянии
        1,0–1,5 м или одной стороной к стене. Двусторонняя сервировка является более предпочтительной.
        Прежде всего, небольшие стопки тарелок из чисто практических соображений следует расставить в нескольких местах
        стола, чтобы избежать суеты и неразберихи. Предлагаемые блюда надо разместить симметрично, то есть одинаково
        слева
        и справа от середины стола, чтобы гостям не приходилось бегать туда-сюда с тарелками в руках.
        Фуршет предоставляет большой простор фантазии в оформлении и многообразии закусок. Простой фуршет можно
        составить
        из самых обыкновенных и привычных блюд, сочетая горячее и холодное.
        Меню фуршета состоит из большого количества холодных закусок. Подаются также кондитерские изделия, фрукты.
        Спиртные напитки выставляются на столах или разносятся официантами. Может быть устроен буфет. Иногда в конце
        приема подают шампанское, затем кофе.</p>
    <p>Фуршетный стол может включать и горячие блюда (например, барбекю), которые подают как горячую закуску. Такие
        закуски удобны тем, что могут быть приготовлены небольшими порциями. Гостям они также удобны, так как их можно
        потреблять стоя с помощью одной вилки. Словом, фуршет — это удовольствие не для людей с больными ногами и не для
        стариков.
        Однако это не значит, что стулья на фуршетах совершенно исключены.
        Вечерний прием-фуршет устраивается в особо торжественных случаях и начинается в 8 часов вечера и позднее.
        Отличается он от обычного приема-фуршета или приема-коктейля обилием предлагаемых напитков и закусок.
        Существуют французские, итальянские и швейцарские фуршеты. Их меню отличаются от всех остальных блюдами,
        типичными для кухонь этих стран. Оригинальность и удобство фуршета заключаются в том, что благодаря разнообразию
        предлагаемых блюд каждый из гостей может найти что-нибудь по своему вкусу.
        На фуршете гостям предоставляется свободный выбор места в зале, хотя, как правило, приемы этого вида проводятся
        стоя. Гости сами выбирают блюда и напитки, расставленные на столе, едят и пьют, стоя за фуршетным столом или
        около него.
        Могут быть и исключения из этого основного правила. Например, для духовных лиц может быть поставлен отдельный
        стол где-нибудь в уголке зала.</p>
    <p>Если же на таком банкете за столом с закусками стоят официанты, вы должны только указать на понравившееся блюдо,
        протянув вперед свою тарелку, или с улыбкой произнести: «Нет, спасибо».
        Правила поведения на фуршетах довольно просты. Воспитанный человек никогда не станет вести себя как
        изголодавшийся дикарь,
        бросаясь к фуршетным столам и расталкивая соседей, чтобы побольше набрать в свою тарелку разных яств.
        Фуршет уже сам по себе предполагает спокойную и свободную форму поведения, при этом никто никуда не торопится,
        не
        толкается, все ненавязчиво общаются с присутствующими и время от времени пробуют угощения.
        Хозяева же, в свою очередь, должны предусмотреть, что гости подойдут к фуршетному столу не один раз, поэтому
        следует
        следить за опустевшими подносами и периодически их пополнять.
        В любое время гости могут уйти с такого банкета, не дожидаясь его окончания.</p>
    <h2 class="m-3">Банкет-коктейль</h2>
    <p>Такой вид приема организуют при обслуживании участников международных симпозиумов, конференций, конгрессов,
        совещаний
        и др. На коктейле можно принять довольно большое количество гостей и в сравнительно небольшом помещении.
        Различают
        деловой банкет-коктейль продолжительностью 40–50 минут, который организуют в перерывах указанных мероприятий, и
        банкет-коктейль для отдыха продолжительностью 1,5–2 часа, проводимый обычно в конце совещаний, иногда на
        открытом воздухе.</p>
    <h4 class="m-3">На банкете-коктейле все пьют и едят стоя.</h4>
    <h4 class="m-3">В зале банкетные столы расставляют лишь у стен или по углам, на них кладут сигареты, спички, ставят
        вазочки с
        бумажными салфетками и цветами.</h4>
    <h4 class="m-3">Тарелки и приборы не подаются, а закуски и напитки предлагаются гостям в обнос на подносах. На
        нескольких подсобных
        столах размещают подносы для сбора использованной посуды.</h4>
    <p>На банкете-коктейле меню состоит из мелкопорционных закусок, которые предлагаются в следующей последовательности:
        аперитив; холодные закуски — бутерброды (канапе) с зернистой икрой осетровых и лососевых рыб, семгой (кетой,
        балыком),
        осетриной, ветчиной, колбасой, сыром, а также тарталетки с паштетом, салатом; горячие закуски — люля-кебаб,
        котлетки, рыба в кляре, кусочки шашлыка; десерт — пломбир, желе, крем, фрукты, орешки; горячие напитки — кофе,
        чай.
        В зале устанавливается банкетная стойка, где предлагаются горячие напитки — кофе, чай, а также холодные — соки,
        воды (минеральная и фруктовая), коктейли.</p>
    <h2 class="m-3">Комбинированный банкет</h2>
    <p>Комбинированный банкет как бы соединяет в себе 2–3 банкета воедино, например банкет-фуршет и банкет с полным
        обслуживанием или банкет-коктейль и банкет с полным обслуживанием. Для проведения такого торжества требуется два
        смежных зала. Часто организуют банкет за столом с полным или частичным обслуживанием, на котором кофе (а иногда
        и десерт)
        подают в другом зале.</p>
    <h2 class="m-3">Банкет-чай</h2>
    <p>Такой вид приема проводят во второй половине дня, обычно в 16–18 часов. Продолжается он не более 2 часов,
        как правило, организуется только для женщин.</p>
    <p> В центре банкетного зала ставят круглый, овальный или прямоугольный стол и стулья (кресла). Вдоль стен —
        диваны, кресла, а между ними 1–2 небольших столика, накрытые цветными скатертями, для цветов, сигарет,
        пепельниц, спичек и салфеток.</p>
    <p>Меню банкета-чая состоит из мучных кондитерских изделий (торты, пирожные, сладкие пироги, печенья),
        шоколадных конфет, шоколада, варенья, меда, сахара, фруктов, молока или сливок и др. В меню банкета иногда
        включают 1–2 сладких блюда — желе, мусс, крем, пломбир и др. Подаются также десертные и сухие вина, соки,
        воды, кофе и чай.</p>
    <p>Банкет-чай выглядит торжественнее, когда чай наливают из самовара (но это уже не европейская манера, а
        российская). Самовар на подносе ставят на краю чайного стола или отдельно на приставной стол, накрытый
        скатертью. Слева от самовара ставят второй поднос, накрытый салфеткой, с чайными чашками, блюдцами и
        чайными ложками. На подносе перед самоваром чуть справа ставят заварочные чайники.</p>
    <p>На накрытый цветной скатертью чайный стол против каждого места гостя ставят десертную тарелку, справа и
        слева от нее раскладывают десертные ножи и вилки, а при наличии в меню фруктов — фруктовый прибор (за
        десертной тарелкой). Ко всем сладким блюдам, кроме конфет в обертке и фруктов, подают специальные приборы
        для раскладывания (лопатки, вилки, щипцы и др.). Розетки ставят стопками по 5–6 штук у каждой вазы с вареньем,
        медом или джемом.</p>
    <p>Последовательность подачи блюд и изделий на банкете-чае следующая. Сначала предлагаются сладкие блюда, которые
        расставляются на столе за 30–40 минут до начала банкета. Затем подают чай с мучными кондитерскими изделиями,
        при этом сладкий пирог или торт заранее нарезают на порционные куски. Последними подаются фрукты, орехи,
        конфеты.
        При подаче сладких блюд вместо десертной тарелки и приборов перед каждым гостем ставят пирожковую тарелку,
        накрытую
        резной бумажной салфеткой, с десертной ложкой (ручка повернута вправо от гостя). На тарелку устанавливают
        креманку
        со сладким блюдом. Затем использованная посуда убирается, и ее заменяют десертной тарелкой и приборами.
        В меню банкета-чая можно включить кофе. В этом случае на поднос с чайными чашками ставят и кофейные чашки с
        блюдцами и
        кофейными ложками, а рядом с заварочными чайниками — кофейник с горячим кофе.</p>
    <h2 class="m-3">Журфикс и бранч</h2>
    <p>Прием журфикс (франц. jour fixe — определенный день) проводится, как банкет-чай, с 16 до 18 часов в определенный
        для
        приема гостей день недели. В настоящее время журфикс стал достоянием истории и вместо него устраивают бранч.
        Бранч (англ. brunch) — неформальный вид приема, проводимый между завтраком и ланчем (отсюда название: первые
        буквы от англ. breakfast — завтрак, остальная часть слова образована от lunch — ланч). Этот вид приема довольно
        часто используется в таких странах, как США, ЮАР.</p>
    <p>Бранч обычно проводят в выходные дни, и на него часто приглашают семьи друзей, включая детей. Это хорошая
        возможность поближе познакомиться с коллегами в свободной, дружеской обстановке. Бранч можно проводить для
        своих соседей на даче.</p>
    <p>По характеру проведения бранч близок к завтраку или легкому ланчу и состоит, по сути, из тех же блюд. Можно
        подать яйца, бекон, сосиски, тушеное мясо, рыбу, блинчики, томаты, приготовленные на гриле, а также булочки,
        масло, сыр. Предлагаются кофе, чай, соки, прохладительные напитки в большом количестве. Иногда подают вино.
        Меню и организационные моменты при проведения бранча должны быть по возможности упрощены, так чтобы хозяйка
        значительную часть времени могла провести вместе с гостями.
    <h2 class="m-3">Деловой ланч</h2>
    <p>Довольно распространенным на Западе является деловой, или рабочий, ланч с коллегами или партнерами в ресторане,
        клубе, бистро. В некоторых странах, например во Франции, перерывы на обед длятся 1,5–2 часа, что дает
        возможность
        использовать это время не только для обеда, но и для деловых бесед.
        Характер проведения делового ланча обычно меняется в зависимости от целей и приглашаемых лиц. Это может быть
        небольшой ланч в бистро, с тем чтобы обсудить какие-то вопросы, а может быть полный ланч в хорошем ресторане,
        состоящий из трех блюд: закуска, основное блюдо, десерт.
        На деловом ланче присутствуют без супруг (супругов). На него не обязательно посылать официальное приглашение.
        Можно (а если он проводится в бистро, то следует) ограничиться лишь телефонным звонком или предварительной
        договоренностью при предыдущей встрече.</p>
    <p>Форма одежды повседневная, то есть та, в которой люди ходят на работу. Если деловой ланч проводится в бистро,
        то требования к одежде минимальные. Допускаются даже джинсы. Ресторан предъявляет более высокие требования к
        одежде: как правило, это костюм с галстуком для мужчины, деловой костюм или платье для женщины.
        Обычно платит тот, кто приглашает, но возможно, что затраты делятся поровну, особенно при обеде с коллегами.
        Если от вас исходит инициатива пообедать вместе, чтобы обсудить дела, но вы не предполагаете оплачивать счет
        за вашего коллегу, оговорите это предварительно.
        Если на деловой ланч приглашает женщина, то она берет на себя все функции приглашающего — выбирает и заказывает
        ресторан, оплачивает счета, пробует вино.
        Прием по-буфетному</p>
    <p>Прием по-буфетному проводится с 8 до 9 часов вечера, как и прием-коктейль, но приглашенные при этом едят и
        пьют не стоя, как на коктейле, а садятся за стол по своему выбору. Закуски выставляются на отдельном столе.</p>
    <h2 class="m-3">Прием «бокал шампанского»</h2>
    <p>Прием «бокал шампанского» проводится от 12 до 13 часов. Подают шампанское, сухое вино, виски, водку. Закуски
        под шампанское — орешки, маслины, конфеты. Одежда — повседневная.</p>
    <h2 class="m-3">Шведский стол</h2>
    <p>Такое явление, как шведский стол, характерное для гостиниц и отелей, используется туристическими фирмами при
        организации
        всевозможных поездок. Обычно, приходя на шведский стол, вы платите фиксированную сумму, которая не зависит от
        того, что и
        в каких количествах вы съедите. За отдельную плату подаются только вода, соки и алкогольные напитки.
        В ресторанном помещении на отдельных столах выставлены различные холодные закуски, горячие блюда, десерты и
        фрукты.
        На каждом из этих столов приготовлена стопка чистых тарелок, которые вы и используете при самообслуживании.
        Наполнив тарелку, вы садитесь за отдельный столик и спокойно принимаете пищу. Если же у вас возникло желание
        положить
        в тарелку еще что-нибудь, то по правилам этикета, соблюдаемым на шведских столах, с грязной тарелкой за
        добавочной
        порцией не ходят! Использованная посуда остается на столе, и, пока вы себя обслуживаете, ее убирает официант.
        Если вы хотите что-то выпить (алкогольное или безалкогольное), вам стоит обратиться к официанту, который
        предложит
        вам карту вин и перечень безалкогольных напитков, а затем выполнит ваш заказ.
        Заваривать кофе или чай вы должны сами, все необходимое для этого находится на десертном столе.
        Официальные приглашения</p>
    <p>Одним из важнейших моментов организации приема является составление списка гостей. Прежде всего определяется
        общее
        количество приглашенных лиц, которое не должно превышать возможностей обслуживания и помещения, где будет
        проходить
        прием.</p>
    <p>Приглашения на официальный прием отпечатываются на бланках, изготовленных в типографии. Имя, фамилия и должность
        приглашенного пишутся от руки или печатаются на компьютере (с последующей расклейкой на открытке). Для приемов
        по
        случаю национального праздника или в честь какого-либо государственного деятеля или делегации заказываются
        специальные
        бланки, на которых указано, по какому случаю проводится прием.</p>
    <p>В случае, когда завтрак или обед дается в честь какого-либо высокопоставленного лица, приглашение ему высылается
        только
        после того, как сделано устное предложение, которое им принято. В этом случае буквы «R.S.V.P.» на письменном
        бланке
        зачеркиваются и над ними пишутся буквы «p.m.», или «pour memoire», или «to remind» («для памяти»).
        Когда под буквами «R.S.V.P.» написано «regrets only» («только в случае отказа»), то ответить следует, если по
        каким-либо причинам приглашенный не сможет присутствовать на данном мероприятии.</p>
    <p>Приглашения рассылаются с курьером или почтой не позднее чем за 1–2 недели до приема. Приглашения официальным
        лицам и видным деятелям рекомендуется всегда рассылать с курьером. Если мужчин приглашают на прием вместе с
        женами,
        то это указывается: на первое место всегда ставят имя мужа.</p>
    <p>В приглашении на приемы типа фуршет (где гости закусывают стоя) указывается время начала и окончания приема
        (17.00–19.00, 18.00–20.00 и т. д.). На такие приемы можно прийти и уйти в любое время в пределах указанного
        периода. Приходить к началу такого мероприятия и находиться там до конца необязательно.</p>
    <p>Приглашение, если оно отсылается в организацию, может быть не персональным, а с указанием лишь числа приглашенных
        от организации, учреждения, фирмы. В этом случае с ответным письмом принято направлять именной список лиц,
        которые
        будут присутствовать на приеме. Во всех случаях ответ на приглашение обычно направляют отпечатанным на
        специальном
        бланке или в виде частного письма. Ответить на приглашение можно и по телефону, если он указан в пригласительной
        карточке. Обязательным является сообщение о принятии приглашения в тех случаях, когда в полученном приглашении
        на
        прием оставлены незачеркнутыми буквы «Р.S.V.Р.» или фраза «Просьба ответить». Если дан положительный ответ на
        приглашение, посещение приема является обязательным. Опоздание считается нарушением этикета. Если из одного
        учреждения приглашено несколько представителей и они являются на прием не вместе, первыми должны приходить
        младшие по должности, а затем старшие.</p>
    <p>Когда в пригласительной карточке буквы «Р.S.V.Р.» зачеркнуты или отсутствуют (приглашения на приемы, проводимые
        стоя),
        давать тот или иной ответ не нужно.</p>
</div>
{% endblock %}
