{% extends '_base_article.html' %}

{% block title %}Сервировка стола{% endblock %}
{% block article_title %}Сервировка стола{% endblock %}

{% block text %}
<div style="font-size: 125%;">
    <p>Перед приглашением на банкет тщательно продумайте сервировку стола, то есть сколько человек будет присутствовать
        на званом вечере и как разместить приборы, чтобы они не загромоздили стол.
        Для организации и проведения банкетов требуются скатерть (желательно белая), салфетки и полотенца. Банкетная
        скатерть
        должна быть цельной и достаточно длинной (края должны свисать примерно на 20–30 см); если же она слишком
        короткая, это
        считается безвкусным. Под скатерть рекомендуется подложить фланель или какую-нибудь другую тяжелую мягкую ткань,
        тогда
        скатерть ляжет ровнее, а стук тарелок и приборов смягчится.</p>
    <h2 class="m-3">Вот примерный набор посуды, который может понадобиться для сервировки банкетного стола:</h2>
    <h4 class="m-3">• тарелки глубокие,</h4>
    <h4 class="m-3">• тарелки мелкие,</h4>
    <h4 class="m-3">• тарелки закусочные,</h4>
    <h4 class="m-3">• тарелки пирожковые,</h4>
    <h4 class="m-3">• селедочницы,</h4>
    <h4 class="m-3">• салатники,</h4>
    <h4 class="m-3">• соусники,</h4>
    <h4 class="m-3">• блюдо овальное,</h4>
    <h4 class="m-3">• блюдо круглое,</h4>
    <h4 class="m-3">• подставка для хлеба,</h4>
    <h4 class="m-3">• перечницы, солонки, розетки под горчицу,</h4>
    <h4 class="m-3">• графин для воды,</h4>
    <h4 class="m-3">• графин для фруктового сока,</h4>
    <h4 class="m-3"> • графин для водки,</h4>
    <h4 class="m-3">• рюмки для водки, для вина, фужеры, бокалы для шампанского,</h4>
    <h4 class="m-3">• ножи, вилки столовые и десертные.</h4>
    <h4 class="m-3">В салатницах должны лежать ложки или щипцы, чтобы было удобно накладывать салат.</h4>
    <p>Для каждого из приглашенных на стол ставится столовая мелкая тарелка, на нее закусочная, а слева от них так
        называемая
        пирожковая, или тарелка для хлеба. Справа от каждой мелкой тарелки располагаются ложка и нож (острой стороной
        лезвия в
        сторону тарелки), слева — вилка. Ложки и вилки должны лежать выпуклой стороной книзу. Если есть возможность,
        хорошо
        поставить возле каждого прибора одну маленькую солонку. Салфетки, сложенные в форме обычного треугольника или
        более нарядно
        в форме цветка, положите на закусочные тарелки.</p>
    <p>Самое удобное расположение приборов — это когда ими можно пользоваться как бы по очереди. То есть с дальнего края
        от
        сидящего находятся приборы для закуски, справа ложка для супа, затем приборы для основного блюда: справа нож,
        слева
        вилка.</p>
    <p>Существует самый простой и распространенный малый столовый прибор. Обед, для которого подается такой прибор,
        обязательно
        включает в себя суп, второе блюдо и десерт.</p>
    <p>Вилка лежит слева от тарелки, а нож и ложка для супа — справа. Перпендикулярно им (за тарелкой) располагаются
        десертные
        ложка и вилка (ручка вилки направлена налево, а ручка ложки — направо), а справа от них — бокалы для вина.
        Маленькая
        тарелка для хлеба с соответствующим ножом находится слева от сидящего. Исключительно вспомогательную роль
        выполняют
        подтарельники (из них не едят) — это подставки либо для других тарелок и приборов, либо для различных салфеток.
        Если известно, что среди приглашенных будет левша, то прибор для него сервируется в зеркальном порядке.
        Если обед состоит из большего количества блюд (например, из пяти: закуска, суп, рыбное блюдо, мясное блюдо,
        десерт), то
        столовых приборов на столе, соответственно, требуется больше.</p>
    <p>Рядом тогда могут лежать распределенные таким же образом нож и вилка для мяса.
        Если к столу подаются необычные блюда, например крабы, то необходимые для них приборы подаются дополнительно, на
        отдельном
        подтарельнике.</p>
    <p>В зависимости от числа сидящих за столом поставьте 2–3 тарелки с тонкими ломтиками черного и белого хлеба,
        расположив их
        так, чтобы хлеб находился по возможности близко к каждому прибору.
        Вино, за исключением шампанского, нужно поставить на стол в уже откупоренных бутылках с тщательно протертыми
        горлышками.
        Бутылки с минеральной водой перед подачей на стол также необходимо открыть. Водку и различные настойки лучше
        всего
        подавать в специальных графинах.</p>
    <h4 class="m-3">Шампанское открывают перед тем, как наливать в бокалы.</h4>
    <h4 class="m-3">Закуски располагаются в разных местах стола, чтобы любой из гостей мог без труда до них
        дотянуться.</h4>
    <h4 class="m-3">Солонки, горчичницы, соусницы лучше всего поставить ближе к середине стола.</h4>
    <p>На столе праздничного банкета, как правило, присутствует достаточно большое разнообразие алкогольных напитков.
        Поэтому возле каждого прибора желательно поставить мелкую рюмку для водки, рюмку для вина, фужер для
        шампанского,
        высокий бокал для минеральной воды или фруктового сока.</p>
    <p>Очень нарядно и празднично смотрятся на накрытом столе для банкета живые цветы. Их следует поставить в невысокие
        вазочки и разместить в нескольких местах по средней линии стола так, чтобы они не мешали сидящим за столом
        пользоваться
        блюдами и общаться между собой.</p>
    <p>При большом числе присутствующих на банкете гостей горячие блюда принято разносить. Причем следует знать и
        соблюдать
        следующее правило: кушанье, разложенное уже на тарелки, подается гостю с правой стороны; кушанье, предлагаемое
        на блюде,
        подается, наоборот, слева, и гость должен сам положить его себе на тарелку.</p>
    <h2 class="m-3">Виды столовых приборов и их предназначение</h2>
    <p>При подаче закусок или холодных блюд применяют закусочный прибор — облегченный вариант малого столового.
        Ложка в таком приборе по понятным причинам отсутствует, а вилка и нож имеют меньшие размеры, причем нож может
        быть
        зубчатым.</p>
    <p>Если вам предстоит есть горячие блюда из рыбы, на столе будет вполне уместен и специальный рыбный прибор:
        вилка с углублением для удаления костей и тупой нож лопаточкой.
        Вилочка из десертного прибора еще меньше, чем закусочная. Как и в малом столовом, в десертном приборе
        присутствует
        ложка, но она также имеет малые размеры. Зато ее можно использовать не только при подаче десертов и сладкого, но
        и для бульона или яичницы-глазуньи.</p>
    <p>Самые мелкие вилочка и ножик составляют вместе фруктовый прибор. Ножик для фруктов должен быть остро заточен.
        Сфера применения чайной и кофейной ложек понятна из их названия. Кофейная ложка меньше, чем чайная.
        Существуют некоторые специальные видоизменения обычной ложки. Так, например, ложка для салатов больше обычной и
        имеет прорезь (вот, собственно, и вся разница).</p>
    <p>Ложка разливательная (половник) пригодится вам, чтобы разлить на порции жидкие блюда (суп, крюшон, компот).
        Такая же ложка, но с вытянутым носиком применяется для соусов.</p>
    <p>Фигурную ложку используют при раскладывании варенья по розеткам.</p>
    <p>Для приготовления коктейлей служит ложка с длинной ручкой. В какой-то степени похожа на ложку и лопатка для
        икры.</p>
    <p>Другие виды лопаток плоские, и с ложками их не перепутаешь.</p>
    <p>Для перекладывания вторых блюд используют такую оригинальную конструкцию, как щипцы из вилки и некоего подобия
        ложки-лопатки.</p>
    <p>Кондитерскими щипцами перекладывают мучные сладости.
        Такими же щипцами, но поменьше берут кусочки сахара. Похожие щипцы для льда делают из нержавеющей стали или
        мельхиора.</p>
    <p>Щипцы с плоскими гофрированными зубцами применяют для колки орехов.</p>
    <p> Из специальных вилок отметим устричную вилку в форме трезубца, один из зубцов которого сделан в виде
        консервного ножа.</p>
    <p>Двурогая вилка предназначена для лимона, к ней обычно прилагается нож с зигзагообразным острием.
        Существуют две гибридные формы специальных вилок: вилка-лопатка для рыбных консервов и нож-вилка для сыра.
        Так называемую кокотную вилку с тремя короткими широкими зубцами подают к жюльену или грибам в сметане.
        Все столовые приборы располагаются от краев к середине в том же порядке, как будут подавать блюда.
        Ближе всего к тарелке (с обеих сторон) лежат те приборы, которыми пользуются в последнюю очередь.
        Так что по логике вещей дальше всего от тарелки лежит суповая ложка.</p>
    <p>Если порядок приборов перепутан неквалифицированными официантами, возьмите вилку и нож, подходящие к тому
        блюду, которое вы собираетесь есть. Например, если десертная ложка вдруг оказалась (и вы все просчитали)
        не на своем месте, это совершенно не означает, что ею нужно есть бифштексы. Столовые приборы существуют
        исключительно для нашего удобства, но не для того, чтобы создавать нам проблемы. Так что, приступая к
        очередному блюду, берите те вилку и нож, которые находятся дальше от тарелки.</p>
    <p>В некоторых странах распростились с весьма распространенным правилом держать нож только в правой руке.
        Американцы, например, вполне могут порезать пищу на кусочки, держа нож в правой, а затем, переложив его в
        левую и взяв вилку в правую руку, спокойно есть.</p>
    <p>В то же время в консервативной Европе такие вольности не поощряются, и нож по-прежнему занимает место в
        правой руке, а вилка — в левой вне зависимости от того, сжимает их правша или левша. Как правило, вилкой
        «наступают» на пищу, ножом отрезают кусочек.</p>
    <p>Неприлично перед едой вытирать предназначенный для вас прибор, так как этим вы показываете свое недоверие к
        хозяевам, но это позволительно в кафе и в средней руки ресторанах.</p>
    <p>Определенный ритуал существует и для завершения ваших стараний над блюдом. Когда одно блюдо закончено (или
        гость больше не хочет есть), следует положить нож и вилку на тарелку параллельно вместе. Это означает для
        официанта, что тарелку можно унести. Так же принято класть десертные ложку и вилку.</p>
    <p>И наоборот, если вилка и ложка лежат на тарелке порознь, это означает, что гость делает перерыв и доест блюдо
        позднее.</p>
    <p>Если десерт подан в вазочке на высокой ножке или в глубокой вазочке на отдельной тарелке, ложка после еды
        кладется на эту тарелку. Если вазочка мелкая и широкая, ложка может быть оставлена
        в ней либо положена на тарелку.</p>
</div>
{% endblock %}
