{% extends '_base_article.html' %}

{% block title %}Что такое этикет{% endblock %}
{% block article_title %}Что такое этикет{% endblock %}

{% block text %}
<div style="font-size: 125%;">
    <p>Слово «этикет» перешло к нам из французского языка. В основе его лежит греческое слово,
    обозначающее привычку, обхождение, нрав. Не случайно термин этот созвучен со словом «этика»,
    обозначающим философскую науку, изучающую мораль, нравственность как форму общественного
    сознания, важнейшую сторону общественной жизни. Ведь моральные убеждения человека проявляются
    прежде всего в его поведении, отношении к другим людям. Поэтому и этика носила сначала характер
    практических нравоучений, регулирующих общение людей, телесную и психологическую гигиену жизни.
    Словом «этикет» в узком смысле называют свод правил обхождения, поведения, принятых в определенных
    социальных кругах — при королевских дворах, в среде дипломатов и т. п. В широком смысле этикет — норма
    поведения и обхождения в данном обществе. Эти правила, нормы поведения появились очень давно,
    вместе с возникновением общества, но менялись по мере его развития. Без таких норм поведения не
        может существовать никакая общественная формация.</p>
    <p>Даже в первобытном обществе выработались определенные нормы, регулирующие общение, распределение пищи,
    отношения внутри семьи, рода. Пища — первейшая жизненная необходимость, и поэтому наиболее
        древними и устойчивыми были нормы, регулирующие традиции, связанные с едой.</p>
    <p>Общий стол в семье, на праздничном застолье, на официальном приеме, свадьбе, юбилеях — своеобразная
    форма общения людей, и во все времена, у всех народов поведение за столом регулировалось
    особыми правилами. Эти правила менялись со временем, были разными у разных народов, но всегда
    отражали нравственное воззрение общества, отношение между его членами, религиозные убеждения.
    в наше время стерлись многие национальные черты застольного этикета и выработались общечеловеческие
    нормы поведения, хотя сохранились и бытуют отдельные древние традиции у каждого народа. Особенно они
    своеобразны в странах Востока — Китае, Японии, Индии и др. У некоторых народов (например в Англии)
    соблюдению этих норм придается очень большое значение во всех слоях общества, у других допускаются
    некоторые отступления, но знание и соблюдение элементарных правил поведения за столом — везде
        непременные условия поведения воспитанного человека.</p>
    <p>Соблюдение правил этикета важно за любым столом (в семье, при деловых встречах и т. д.), но особенное
    значение это имеет во время праздничных застолий. Один невоспитанный человек за столом может испортить
        любой праздник.</p>
    <p>Однако правила хорошего тона — это не догма: все зависит от обстоятельств, конкретных условий.</p>
</div>
{% endblock %}
