{% extends '_base.html' %}

{% block content %}
<div>
    <div class="jumbotron text-center"><h2>{% block article_title %}{% endblock %}</h2></div>
    <div class="container rounded cA text-dark">{% block text %}{% endblock %}</div>
</div>
{% endblock %}
