{% extends '_base.html' %}

{% block title %}Главная{% endblock %}

{% block navbar %}
    {# Empty navbar block. Navbar will be included later #}
{% endblock %}

{% block content %}
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-center mainText">
                <h1>Застольный этикет</h1>
                <hr>
                <h3>И все, что с ним связано</h3>
                <a class="btn btn-outline-dark btn-lg" id="ButtonTop" href="#header">Узнать больше</a>
            </div>
        </div>
    </div>
</header>

<div class="body">
    {% include '_navbar.html' %}

    <div class="container main">
        <br>
        <div class="row">
            <div class="col-lg-4 ">
                <div class="place">
                    <div class="imgPlace text-center">
                        <img src="https://sun9-69.userapi.com/c205820/v205820624/e728a/8Rk4brNF2Bk.jpg " class="img-fluid rounded" alt="">
                        <a href="/articles/Этикет">
                            <button type="button" class="btn btn-dark mt-1">Что такое этикет</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="place">
                    <div class="imgPlace text-center">
                        <img src="https://images.unsplash.com/photo-1570227923466-c86256715853?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid rounded" alt="">
                        <a href="/articles/История">
                            <button type="button" class="btn btn-dark mt-1">Из истории этикета</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="place">
                    <div class="imgPlace text-center">
                        <img src="https://images.unsplash.com/photo-1462539405390-d0bdb635c7d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1393&q=80" class="img-fluid rounded" alt="">
                        <a href="/articles/Банкет">
                            <button type="button" class="btn btn-dark mt-1">Банкет как двигатель революции</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ">
                <div class="place">
                    <div class="imgPlace text-center">
                        <img src="https://images.unsplash.com/photo-1473348229220-66f5e48021f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80 " class="img-fluid rounded" alt="">
                        <a href="/articles/Правила">
                            <button type="button" class="btn btn-dark mt-1">Принципы и правила этикета</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="place">
                    <div class="imgPlace text-center">
                        <img src="https://images.unsplash.com/photo-1500557515707-69f05f65df7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid rounded" alt="">
                        <a href="/articles/Приемы">
                            <button type="button" class="btn btn-dark mt-1">Виды приемов и их обслуживание</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="place">
                    <div class="imgPlace text-center">
                        <img src="https://images.unsplash.com/photo-1478144592103-25e218a04891?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80" class="img-fluid rounded" alt="">
                        <a href="/articles/Сервировка">
                            <button type="button" class="btn btn-dark mt-1">Сервировка стола</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ">
                <div class="place">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="place">
                    <div class="imgPlace text-center">
                        <img src="https://images.unsplash.com/photo-1572440700518-604074a56292?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" class="img-fluid rounded" alt="">
                        <a href="/articles/Обращение">
                            <button type="button" class="btn btn-dark mt-1">Как обращаться с приборами</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="place">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
