{% extends '_base.html' %}

{% block title %}Рейтинг{% endblock %}

{% block content %}
<div class="topPage">
    <div class="container">
        <br>
        <table class="table table-sm table-striped table-light">
            <thead class="thead-dark">
            <tr>
                <th scope="col">место</th>
                <th scope="col">имя</th>
                <th scope="col">% правильных ответов</th>
                <th scope="col">время прохождения, с</th>
                <th scope="col">дата прохождения, GMT+4</th>
            </tr>
            </thead>
            <tbody>
            {% for result in top %}
            <tr>
                <!-- TestResult.id: {{ result.id }} -->
                <th scope="row">{{ loop.index }}</th>
                <td>{{ result.author or 'Anon' }}</td>
                <td>{{ result.percent }}</td>
                <td>{{ result.time_took }}</td>
                <td>{{ result.time_finish.strftime('%d.%m.%Y, %H:%M:%S') }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
